<div align="center">
  <div class="col-8 ">
    <div class="row">
      <img src="../assets/paulroe-cruise.jpg" width="100%" height="50%">
    </div>
  </div>
  <div class="col-8 margin">
    <div class="row">
      <div class="card">
        <strong class="card-header">Cabins </strong>
        <div class="card-body ">

          <div class="card">
            <strong class="card-header">Basic </strong>
            <div class="card-body ">
              <img src="../assets/the-9-best-cruise-ship-inside-cabins-and-3-to-avoid_600x400_21.jpg" width="50%"
                height="50%">
              <p class="card-text">
                <b>
                  Enjoy an array of premium amenities and special basic Rooms services, including:
                  two beds ,
                  Sofa bed
                  small refrigerator
                  And more Starting from 50$ ...
                </b>
              </p>

            </div>
          </div>
          <div class="card">
            <strong class="card-header">Suite </strong>
            <div class="card-body ">
              <img src="../assets/how-to-choose-a-cruise-ship-cabin-what-you-need-to-know_600x400_21.jpg" width="50%"
                height="50%">
              <p class="card-text"><b>
                  Enjoy an array of premium amenities and special suite-only services, including:
                  Separate sitting area & coffee table
                  Sofa bed
                  Upgraded balcony furniture with room for four: two comfortable loungers, a table and two chairs
                  And more Starting from 150$ ...</b>
              </p>

            </div>
          </div>

          <div class="card">
            <strong class="card-header">Luxury </strong>
            <div class="card-body ">
              <img src="../assets/carnival6kgrandscenicoceanviewcabin.jpg" width="50%" height="50%">
              <p class="card-text"><b>
                  Enjoy an array of premium amenities and special Luxury suite-only services, including:
                  Club Spa Suites, Azamara Club Cruises. ...
                  Haven 3-Bedroom Garden Villas, Norwegian Cruise Line. ...
                  Royal Loft Suite, Oasis of the Seas, Royal Caribbean. ...
                  Regent Suite, Regent Seven Seas Cruises. ...
                  And more Starting from 250$ ...</b></p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-8 margin margin-bottom">
    <div class="row">
      <div class="card">
        <strong class="card-header"> Register NOW ! </strong>

        <div class="card">
          <strong class="card-header">Know More informations about Our 5 stars Cruise </strong>
          <div class="card-body ">
            <img src="../assets/gn-gift_guide_variable_c.jpg" width="50%" height="50%">
            <p class="card-text"> <b>
                Casino — Only open when the ship is at sea to avoid conflict with local laws,
                Shops ,
                Spa,
                Fitness center,
                Library,
                Theatre with Broadway-style shows,
                Cinema,
                And more ...</b></p>
            <form class="col-12">
              <div class="col-8">
                <strong>Name </strong>
                <input class="form-control">
              </div>
              <div class="col-8">
                <strong>Email </strong>
                <input class="form-control"></div>
              <div class="col-8">
                <strong>Departure City (Aswan/Luxor/Cairo) </strong>
                <input class="form-control"></div>
              <div class="col-8">
                <strong>Extra Notes </strong>
                <input class="form-control"></div>
              <div class="col-12">
                <br>
                <button class="btn btn-secondary">Submit</button></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>